.navbox{
    width: 100%;
    height: 60px;
    position: fixed;
    background:  #168BD8;
    z-index: 1;
}
.nav{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.left{
    float: left;
    height: 100%;
    line-height: 80px;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}
.tp{
    float: left;
    width: 120px;
    height:100%;
    margin-right: 30px;
}
.logo{
    display: block;
    width: 120px; height:40px;
    margin: 10px auto;
    background: url(../images/logo.png) no-repeat;
}
.wenzi{
    float: left;
    width: 320px;
    height:100%;
    margin-left: 30px;
}
.wenzi a{
    float: left;
    height: 100%;
    padding: 0 20px;
    line-height: 90px;
    color: #fff;
}
.right1{
    float: right;
    height: 100%;
    line-height: 85px;
}
.right1 a{
    float: left;
    color: #fff;
    padding: 0 15px;
    position: relative;
    font-size: 12px;
}
.right1 a .ewm{
    width: 325px;height: 225px;
    position: absolute;
    left: -100px;top: 60px;
    background: #fff;
    display: none;
}
.right1 a:nth-child(2):hover .ewm{
    display: block;
}
.right1 a .ewm .top{
    width: 100%;height: 40px;
    background: #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 20px;color: #000;
}
.right1 a .ewm .ma{
    float: left;
    width: 50%;height: 185px;
}
.right1 a .ewm .ma img{
    display: block;
    width: 110px;
    margin: 30px auto 0;
}
.right1 a .ewm .ma .zi{
    width: 60px;height: 25px;
    background: #ccc;margin: 10px auto 0;
    text-align: center;line-height: 25px;
    border-radius: 20px;color: #000;
}
.right1 a:nth-child(1),.right a:nth-child(2){
    line-height: 90px;
}
.right1 a:nth-child(2){
    padding-right: 30px;
    margin-right: 15px;
    background: url(../images/hot.png) no-repeat right 25px;
}
.right1 a:last-child{
    color: #FFDA28;
}

.ss{
    width: 100px;
    height: 100px;
    background: red;
}
.section:nth-child(1){
    background: url("../images/section1.jpg") no-repeat center center;
}
.section:nth-child(2){
    background: url("../images/section2.jpg") no-repeat center center;
}
.section:nth-child(3){
    background: url("../images/section3.jpg") no-repeat center center;
}
.section:nth-child(4){
    background: url("../images/section4.jpg") no-repeat center center;
}

.word{
    position: absolute;
    width: 501px;height: 158px;
    left: 180px;top: 120px;
    background: url(../images/fullpage/section/1/word.png);
}
.ship{
    position: absolute;
    width: 242px;height: 228px;
    left: 310px;bottom: 90px;
    background: url(../images/fullpage/section/1/ship.png);
}
.boxLeft{
    width: 500px;
    height: 100%;
    position: absolute;
    left: -50px;
    top: 0;
    transition: all 3s ease;
    transform: translate(-50px,0);
}
.fly{
    position: absolute;
    width: 119px;height: 78px;
    left: 480px;top: 110px;
    background: url(../images/fullpage/section/1/fly.png);
    animation: down 0.7s linear alternate infinite;
}
.right2{
    float: right;
    height: 100%;
}
.zs1{
    position: absolute;
    width: 265px;height: 175px;
    left: 0;bottom:0;
    background: url(../images/fullpage/section/1/zs/1.png);
}
.zs2{
    position: absolute;
    width: 63px;height: 78px;
    right: 470px;bottom:60px;
    background: url(../images/fullpage/section/1/zs/2.png);
}
.zs3{
    position: absolute;
    width: 260px;height: 175px;
    right: 50px;bottom:0;
    background: url(../images/fullpage/section/1/zs/3.png);
}
.mask{
    position: absolute;
    width: 100%;height: 126px;
    left: 0;bottom:0;
    background: #0d71cd url(../images/fullpage/bg/2.jpg);
    opacity: 0.5;
}
.fly{
    position: absolute;
    width: 119px;height: 78px;
    left: 480px;top: 110px;
    background: url(../images/fullpage/section/1/fly.png);
    animation: down 0.7s linear alternate infinite;
}
.cloud1{
    position: absolute;
    width: 1000px;height: 200px;
    left:400px;top: 0px;
    background: url(../images/fullpage/section/1/cloud/1.png);
    animation: cloud 15s linear infinite;
}
.cloud2{
    position: absolute;
    width: 2000px;
    height: 200px;
    left: -500px;top: 180px;
    background: url(../images/fullpage/section/1/cloud/2.png);
    animation: cloud 15s linear infinite;
}
.cloud3{
    position: absolute;
    width: 2000px;
    height: 270px;
    left: 180px;top: 280px;
    background: url(../images/fullpage/section/1/cloud/3.png);
    animation: cloud 15s linear infinite;
}
.login{
    position: absolute;
    width: 340px;
    height: 300px;
    right: 180px;top: 140px;
    background: #4EBFFC;
    border-radius: 5px;
    padding: 25px 20px 0 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.login input{
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin-bottom:20px;
    color: #A9A9A9;
    box-sizing: border-box;
    border: 0;
}
.login input:nth-of-type(1){
    background: #fff url(../images/fullpage/section/1/user.png) 10px 12px no-repeat;
}
.login input:nth-of-type(2){
    background: #fff url(../images/fullpage/section/1/pwd.png) 10px 12px no-repeat;
}
.login input:nth-of-type(3){
    float: left;
    padding-left: 10px;
    width: 140px;
    margin-right: 10px;
}
.login .yan{
    float: left;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    background: #B8E5FE;
}
.login .huan{
    float: left;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
    padding: 0;
}
.login .huan:hover{
    text-decoration: underline;
}
.login .submit{
    margin-top: 15px;
    background: #FFD850;
    font-size: 20px;
    padding-left: 0px;
    text-align: center;
    line-height: 40px;
    color: #333;
    margin-bottom:10px;
}
.login .bottom{
    width: 100%;
    font-size: 12px;
}
.login .bottom .bleft{
    float: left;
    color: #fff;
    padding-left: 20px;
    font-size: 12px;
    background: url(../images/fullpage/section/1/secure.png) 0 -3px no-repeat;
}
.login .bottom .bright{
    float: right;
    color: #fff;
}
.login .bottom a:hover{
    text-decoration: underline;
}
.jt{
    width: 30px;height: 26px;
    position: absolute;
    bottom: 40px;left: 50%;
    margin-left: -15px;
    background: url(../images/fullpage/section/jt.png);
    animation: down 1s linear alternate infinite;
    cursor: pointer;
}
.jt a{
    display: block;
    width: 100%;
    height: 100%;
}
.section .rotate{
    position: absolute;
    z-index: 10;
    left: 270px;top: 220px;
    width: 66px;height: 123px;
    background: url(../images/fullpage/section/2/word.png);
    animation: word 2s ease infinite;
}
#fullpage .section:nth-child(4) .rotate{
    background: url(../images/fullpage/section/4/word.png);
}
.boxLeft{
    width: 500px;
    height: 100%;
    position: absolute;
    left: -50px;
    top: 0;
    transition: all 3s ease;
    transform: translate(-50px,0);
    /*opacity: 0.5;*/
}
.section h4{
    position: absolute;
    z-index: 10;
    left: 350px;top: 230px;
    width: 330px;height: 50px;
    line-height: 50px;
    color: #fff;font-size: 35px;
    font-weight: normal;
}
.section p{
    position: absolute;
    z-index: 10;
    left: 350px;top: 290px;
    width: 360px;height: 55px;
    line-height:30px;
    color: #fff;font-size: 20px;
}

/*section2 start*/
.left3{
    height: 100%;
    line-height: 80px;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}
.box1{
    position: absolute;
    bottom: 0;left: 250px;
    width: 46px;height: 46px;
    background: #35B568;
}
#fullpage .section .box2{
    position: absolute;
    bottom: 0;left: 340px;
    width: 90px;height: 90px;
    background: #35B568;
}
#fullpage .section .box3{
    position: absolute;
    bottom: 0;left: 430px;
    width: 46px;height: 46px;
    background: #8AE75A;
}
#fullpage .section .box4{
    position: absolute;
    bottom: 0;left: 810px;
    width: 46px;height: 46px;
    background: #8AE75A;
}
#fullpage .section .box5{
    position: absolute;
    bottom: 0;left: 900px;
    width: 46px;height: 46px;
    background: #35B568;
}
/*section2 end*/
/*section3 start*/
.left4{
    height: 100%;
    line-height: 80px;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}
.fang1{
    position: absolute;
    left: 165px;top: 150px;
    width: 88px;height: 88px;
    background: #29A2B8;
}
#fullpage .section .fang2{
    position: absolute;
    left: 252px;top: 62px;
    width: 88px;height: 88px;
    background: #33BB9A;
}
#fullpage .section .fang3{
    position: absolute;
    left: 340px;top: 150px;
    width: 88px;height: 88px;
    background: #60CF6E;
}
#fullpage .section .fang4{
    position: absolute;
    left: 252px;top: 238px;
    width: 176px;height: 176px;
    background: url(../images/fullpage/section/3/tu3.jpg);
}
#fullpage .section .fang5{
    position: absolute;
    left: 430px;top: 235px;
    width: 88px;height: 88px;
    background: #33BB9A;
}
.circle{
    position: absolute;
    width: 1920px;height: 138px;
    left: 0;bottom: 0;
    background: url(../images/fullpage/section/3/tu2.png);
}
#fullpage .section:nth-child(3) .tu{
    height: 330px;
    right: 235px;top: 225px;
    background: url(../images/fullpage/section/3/tu1.png) no-repeat;
    opacity: 0.1;
    transition: all 3s ease;
    transform: translate(50px,0);
}
/*section3 end*/

/*section 4 start*/

.section .yuan{
    position: absolute;
    left: 230px;top: 150px;
    width: 275px;height: 245px;
    background: url(../images/fullpage/section/4/tu2.png);
}
.tu{
    position: absolute;
    right: 210px;top: 120px;
    width: 444px;height: 427px;
    background: url(../images/fullpage/section/2/tu.png) no-repeat;
    transition: all 3s ease;
    transform: translate(50px,0);
    opacity: 0.1;
}
.section:nth-child(4) .tu{
    width: 603px;height: 361px;
    right: 280px;top: 180px;
    background: url(../images/fullpage/section/4/tu1.png) no-repeat;
    opacity: 0.1;
    transition: all 3s ease;
    transform: translate(50px,0);
}
.banquan{
    position: absolute;
    left: 50%;bottom: 35px;margin-left: -85px;
    width: 170px;
    color: #fff;
    font-size: 12px;
}
.banquan a{
    color: #fff;
    font-size: 12px;
}
.banquan a:hover{
    text-decoration: underline;
}
/*section 4 end*/
